.app {
  background-color: linear-gradient(
    83.2deg,
    rgb(48, 59, 65) 10.8%,
    rgb(220, 238, 88) 94.3%
  );
  color: #123;
  margin: 5% 10%;
}

.app-header h1 {
  text-align: center;
}

.app-header form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-header form div {
  margin: 10px;
  display: inline-block;
  align-self: center;
}

.app-header form input {
  margin: 0 10px;
  padding: 5px;
  border: none;
  border-bottom: 2px solid #ccc;
  width: 200px;
  background: transparent;
  color: #123;
}

.app-header form input:focus {
  outline: none;
  border-bottom: 2px solid #5800ff;
}

.app-header form button {
  margin: 10px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  width: 200px;
  cursor: pointer;
  background-color: linear-gradient(
    102.4deg,
    rgb(190, 190, 190) 7.8%,
    rgb(99, 73, 73) 100.3%
  );
  color: #123;
}
