# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# vscode
.vscode

# till credentials fixed (temp fix)
# docker-compose.yaml

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
